.card {
  width: 200px;

  padding: 32px 16px 16px;

  background: #fff;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  display: block;

  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #060b35;

  margin-bottom: 4px;
}

.card__product-code {
  line-height: 14px;

  color: #616070;

  margin-bottom: 16px;
}

.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.card__price-tag {
  font-size: 12px;
  line-height: 18px;
}

.card__amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  width: 166px;
  height: 40px;

  background: var(--blue-accent);
  border: 1px solid transparent;
  border-radius: 5px;
}

.card__button:hover {
  background: #fff;

  border: 1px solid var(--blue-accent);
  border-radius: 5px;

  color: var(--blue-accent);
}
